<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Servlet1</servlet-name>
  	<display-name>Servlet1</display-name>
  	<description></description>
  	<servlet-class>com.lara.Servlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Servlet2</servlet-name>
  	<display-name>Servlet2</display-name>
  	<description></description>
  	<servlet-class>com.lara.Servlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Client1</servlet-name>
  	<display-name>Client1</display-name>
  	<description></description>
  	<servlet-class>com.lara.Client1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet1</servlet-name>
  	<url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Servlet2</servlet-name>
  	<url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Client1</servlet-name>
  	<url-pattern>/Client1</url-pattern>
  </servlet-mapping>
</web-app>
